@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
	background-color: #1F2739;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: #4DC3FA;
	padding-top: 1px;
}

h2 {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1em;
	padding-bottom: 0.5em;
	color: #FB667A;
}

h3 {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	display: block;
	/* line-height:1em; */
}

.blue {
	color: #185875;
}

.yellow {
	color: #FFF842;
}


.container th {
	font-weight: bold;
	font-size: 1.3em;
	text-align: left;
	background-color: #20252f;
}

.container td {
	font-weight: normal;
	font-size: 1.3em;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	display: table;
	padding: 0 0 8em 0;
}

.container td,
.container th {
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 12px;
	padding-right: 12px;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	background-color: #2C3446;
}

.container th {
	background-color: #1F2739;
}

.container td:first-child {
	color: #FB667A;
}

.container tr:hover {
	background-color: #464A52;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
	background-color: #617860;
	font-weight: bold;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

th:first-child,
td:first-child {
	width: 55%;
}

th:not(:first-child),
td:not(:first-child) {
	width: 15%;
}


nav {
	margin: 0 auto;
	width: 60%;
	border: 1px solid #A7A1AE;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
}

nav input {
	display: none;
}

.people_count label {
	font-size: 1.3em;
	padding: 10px 16px;
	width: 25%;
	border-right: 1px solid #A7A1AE;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s;
}

.money_type label {
	font-size: 1.3em;
	padding: 10px 16px;
	width: 50%;
	border-right: 1px solid #A7A1AE;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s;
}

nav label:last-of-type {
	border-right: 0;
}

nav label:hover {
	background: #464A52;
}

nav input:checked+label {
	background: #617860;
}
